<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Uoh509!@</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <mapping class="org.tut.Student"/>
        <mapping class="org.tut.Address"/>
        <mapping class="org.tut.testing"/>
        <mapping class="com.map.Question"/>
        <mapping class="com.map.Answer"/>
        <mapping class="com.mapping.Project"/>
        <mapping class="com.mapping.Employee"/>




        <!--        <mapping class="org.tut.EmDemo"/>-->
    </session-factory>
</hibernate-configuration>